<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.viewcomponent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MasterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OutstagramUploadActivity"></activity>
        <activity android:name=".OutstagramMyPostListActivity" />
        <activity android:name=".OutstagramUserInfo" />
        <activity android:name=".OutstagramPostListActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".EmailSignupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".android_practice.RetrofitRecyclerActivity" />
        <activity android:name=".android_practice.PermissionActivity" />
        <activity android:name=".android_practice.RetrofitActivity" />
        <activity android:name=".android_practice.NetworkActivity" />
        <activity android:name=".android_practice.AsyncActivity" />
        <activity android:name=".android_practice.RealmActivity" />
        <activity android:name=".android_practice.SharedPreferenceActivity" />
        <activity android:name=".android_practice.TabPager2Activity" />
        <activity android:name=".android_practice.TabPagerActivity" />
        <activity android:name=".android_practice.RecyclerViewPhoneBookActivity" />
        <activity android:name=".android_practice.RecyclerViewActivity" />
        <activity android:name=".android_practice.ListViewPhoneBookActivity" />
        <activity android:name=".android_practice.ListViewActivity" />
        <activity android:name=".android_practice.PhoneBookDetailActivity" />
        <activity android:name=".android_practice.PhoneBookActivity" />
        <activity android:name=".android_practice.AddViewActivity" />
        <activity android:name=".android_practice.LibraryActivity" />
        <activity android:name=".android_practice.ThreadActivity" />
        <activity android:name=".android_practice.Context" />
        <activity android:name=".android_practice.Resource" />
        <activity android:name=".android_practice.NullSafety" />
        <activity android:name=".android_practice.FragmentActivity" />
        <activity android:name=".android_practice.OpenInternet" />
        <activity android:name=".android_practice.Intent2" />
        <activity android:name=".android_practice.Intent1" />
        <activity android:name=".android_practice.Calculator" />
        <activity android:name=".android_practice.Listener" />
        <activity android:name=".android_practice.MainActivity" />
    </application>

</manifest>